.App{
    height: 1000px;
    padding-top: 10%;
    background-image: url('./imganes/FONDOPGINAROBOT.S.C_.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: antiquewhite; 
   
   
}

.contendorinformacion{
    text-align: center;
    margin: 0;
    font-size: 11px;
    animation: inicio 1s;
}
.nav-link{
   
    color: aliceblue;
}

.piePagina{
    height: 200px;
    padding-top: 100px;
    text-align: start;
    color: red !important;
}
.nav{
    animation: inicio 1s;
}
@media only screen and (max-width: 600px) {
    .contendorinformacion {
      font-size: 5px ;
    }
    .App{
    background-image: url('./imganes/fondocelu.png');
    background-repeat: no-repeat;
    background-size: contain;

    }
  }
@keyframes inicio {
    0%{
        opacity: 0;
        translate: 20px;
    }
    100%{
        opacity: 1;
        
    }

    
}
