body {
  background-image: url('./imganes/FONDOPGINAROBOT.S.C_.png');
    background-size: 100%;
   
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
