body {
  background-image: url('./imganes/FONDOPGINAROBOT.S.C_.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
